html {
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #191919;
}


header,
main,
footer,
aside,
nav,
article,
h1,
h2,
h3,
div,
ul,
li,
p,
img {
    /* border: 1px solid red; */
}

body,
#container,
header,
main,
section,
#textualElements,
footer,
nav,
article,
div,
ul,
li {
    display: flex;
}

body {
    flex-direction: column;
    justify-content: center;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #191919;
    ;
}

#container {
    flex-direction: column;

}

#textualElements {
    flex-shrink: 0;
    flex-direction: column;
}

/* #container {
    position: absolute;
    background-image: url("/mockups/screencapture-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 1600px;
    height: 2500px;
} */

main {
    flex-direction: column;
    align-items: center;
}

header {
    position: sticky;
    top: 0;
    height: .7rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ffc017;
    padding: 2rem;
    border-bottom: 1px solid #191919;
}

.changeBgOnScroll {
    transition: background-color 0.3s linear;
}

.changeColorOnScroll {
    transition: color 0.3s linear;
}

#logoAndNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1400px;
}

#logoAndNav img {
    width: 170px;
}

#upperNav ul {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-shrink: 0;
    padding-top: .2rem;
    font-size: .9rem;
}

#upperNav ul li {
    color: #191919;
    margin-left: 1.8rem;
}

#upperNav a {
    color: #191919;
    text-decoration: none;
}

#getStarted {
    background-color: #191919;
    border: none;
    margin-left: .5rem;
    padding: .5rem;
    border-radius: 2rem;
}

#getStarted a {
    color: white;
}

#sectionStayCurious {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #ffc017;
    border-bottom: 1px solid #191919;
}

#divStayCurious {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 30rem;
    overflow: hidden;
    width: 85%;
    max-width: 1400px;
}

#textualElements h1 {
    font-family: "Spectral", sans-serif;
    font-weight: 500;
    font-size: 6.4rem;
    padding-top: 5.6rem;
}

#imgElements {
    width: 600px;
}

#textualElements div:nth-of-type(1) {
    width: 30rem;
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2.4rem;

}

#textualElements div:nth-of-type(2) {
    width: fit-content;
    margin-top: 3rem;
    padding: .8rem 3.5rem;
    font-size: 1.2rem;
    text-align: center;
    color: white;
    background: #191919;
    border-radius: 30px;
}

#textualElements a {
    color: white;
    text-decoration: none;
}

#sectionTrendingOnMedium {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #E6E7E7;
}

#divTrendingOnMedium {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 85%;
    max-width: 1400px;
}

#trendingTitleAndCards {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-bottom: 2.8rem;
}

#trendingTitle {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-end;
    height: 3.8rem;
    margin-bottom: 0.2rem;
    ;
}

#trendingTitle h2 {
    padding-top: 1rem;
    font-weight: bold;
    padding-left: 2.8rem;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: 1px;
    background-image: url("/assets/imgs/svg/trending.svg");
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 5px 3px;
}

#trendingNewsCards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
}

.trendingCard {
    /* border: 1px solid greenyellow; */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: .6rem;
    margin-right: 1.5rem;

}


.trendingCardNumber {
    color: #E6E7E7;
    font-size: 2.0rem;
    font-weight: 700;
    margin-right: 1rem;
}

.trendingCardText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: .3rem;
}

.trendingCardAuthor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: .3rem;
    font-size: .8rem;
    font-weight: bold;

}

.trendingCardAuthor p {
    text-wrap: nowrap;
}

.roundedIcon {
    width: 20px;
    margin-right: .5rem;
    border-radius: 50%;
}

.squaredIcon {
    width: 20px;
    margin-right: .5rem;
    border-radius: 5px;
}

.trendingCardAuthor p:nth-of-type(2) {
    color: #7e7e7e;
    margin: 0 .2rem;
}

.trendingCardTitle {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.34rem;
    margin-top: .3rem;
    width: 100%;
}

.trendingCardMeta {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    margin-top: .3rem;
    font-size: .8rem;
}

.trendingCardMeta div:nth-of-type(1) {
    margin-right: 5px;
}

.trendingCardMeta div:nth-of-type(2)::before {
    content: "•";
    margin-right: 5px;
}

.trendingCardMeta img {
    margin-left: 5px;
}

.bgGreen {
    background-color: #1a8917;
}

.bgWhite {
    background-color: white;
}

.clBlack {
    color: #191919;
}

.clGreen {
    color: #1a8917;
}

/* Articles Section -----------------------------------------------------------*/

#sectionArticles {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
}

#divArticles {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 85%;
    max-width: 1400px;
    margin-bottom: 2rem;
}

#firstColumn,
#secondColumn {
    display: flex;
    flex-direction: column;
}

#firstColumn {
    justify-content: flex-start;
}

#secondColumn {
    justify-content: flex-end;
}

.firstColumnArticle {
    /* border: 1px solid greenyellow; */
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.firstColumnArticleText {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left: .3rem;
    margin-right: 1rem;
    width: 70%;
}

.firstColumnArticleAuthor {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-top: .5rem;
    font-size: .8rem;
    font-weight: bold;
}

.firstColumnArticleAuthor img {
    width: 20px;
    margin-right: .5rem;
    border-radius: 50%;
}

.firstColumnArticleAuthor p:nth-of-type(2) {
    color: #7e7e7e;
    margin: 0 .2rem;
}

.firstColumnArticleTitle {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 1.34rem;
    margin-top: .7rem;
    width: 100%;
}

.firstColumnArticleExcerpt {
    margin-top: .5rem;
    margin-right: 1.5rem;
    line-height: 1.3rem;
    color: #757575;
}

.firstColumnArticleMetaAndBookmark {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: .5rem;
}

.firstColumnArticleMeta {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    font-size: 1rem;
    font-size: .8rem;
}

.firstColumnArticleMeta div:nth-of-type(1) {
    margin-right: 5px;
}

.firstColumnArticleMeta div:nth-of-type(2)::before,
.firstColumnArticleMeta div:nth-of-type(2)::after {
    content: "•";
    margin: 0 5px;
}

.firstColumnArticleMeta div:nth-of-type(3) {
    background-color: #F2F3F3;
    padding: .2rem .5rem;
    border-radius: 30px;

}

.firstColumnArticleMeta img {
    margin-left: 5px;
}


.firstColumnArticleImage img {
    width: 200px;
}

.displayNone {
    display: none;
}

#secondColumn aside {
    margin-top: 3rem;
}

#secondColumn aside h2 {
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
}

#argumentsCloud ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 2rem 0;
    border-bottom: 1px solid #E6E7E7;
}

#argumentsCloud ul li {
    justify-content: space-around;
    align-items: center;
    margin: .2rem;
    padding: .5rem 2rem;
    border: 1px solid #E6E7E7;
    font-size: 0.8rem;
}

#secondColumn aside p {
    font-size: 0.9rem;
    margin-top: 1rem;
}

#lastNav ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

#lastNav ul li {
    justify-content: space-around;
    align-items: center;
    margin: .8rem 1rem;
    font-size: 0.8rem;
}

#argumentsCloud ul li a,
#lastNav ul li a {
    color: #757575;
}

/* Media Queries --------------------------------------------------------------*/
/*
Le impostazioni degli stili partono dalla versione desktop quindi ho dovuto prendere
 in cosiderazione anche la dimensione massima dello schermo, in modo da poter
 gestire la visualizzazione tra due intervalli.
*/
@media screen and (min-width: 1080px) {
    .trendingCard {
        width: 30%;
    }

    #firstColumn {
        width: 55%;
    }

    #secondColumn {
        width: 40%;
    }
}

@media screen and (min-width: 904px) and (max-width: 1079px) {
    .trendingCard {
        width: 47%;
    }

    #divArticles {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 727px) and (max-width: 903px) {
    .trendingCard {
        width: 100%;
    }

    #divArticles {
        flex-direction: column-reverse;
    }
}

@media screen and (min-width: 552px) and (max-width: 726px) {
    .trendingCard {
        width: 100%;
    }

    #imgElements {
        display: none;
    }

    #upperNav ul li:nth-child(-n+3) {
        display: none;
    }

    #logoAndNav {
        width: 100%;
    }

    #divStayCurious,
    #divTrendingOnMedium,
    #divArticles {
        width: 95%;
    }

    #textualElements {
        flex-wrap: wrap;
    }

    #textualElements h1 {
        font-size: 5rem;
    }

    #divArticles {
        flex-direction: column-reverse;
    }
}

@media screen and (max-width: 551px) {

    #upperNav ul li {
        margin: 0;
    }

    .trendingCard {
        width: 100%;
    }

    #imgElements {
        display: none;
    }

    #upperNav ul li:nth-child(-n+4) {
        display: none;
    }

    #logoAndNav {
        width: 100%;
    }

    #divStayCurious,
    #divTrendingOnMedium,
    #divArticles {
        width: 95%;
    }

    #textualElements {
        flex-shrink: 1;
    }

    #textualElements div:nth-of-type(1) {
        width: 100%;
    }

    #textualElements h1 {
        font-size: 5rem;
    }

    #divArticles {
        flex-direction: column-reverse;
    }

    .firstColumnArticleImage {
        display: none;
    }

    .firstColumnArticleText {
        width: 100%;
    }

    #seeMoreTopics {
        display: none;
    }
}